<p>Home Component</p>

<div>
    <h3>
        Two ways of paths
    </h3>
    <p>
        1. Absolute Path >> base URL ==> [localhost:4200]
    </p>
    <p>
        2. Relative Path >> Current URL ==> [localhost:4200/products] 
    </p>
</div>


<!-- <a routerLink="/products" class="btn btn-info">
    Go to Products
</a> -->


<!-- <button class="btn btn-primary" (click)="onLoadProducts()">
    GotoProducts Via TS
</button> -->


<button class="btn btn-primary" (click)="onLoadProduct(1)">
    GotoProducts Via TS
</button>